body{
 margin: 0;
 padding: 0;
 background-image: linear-gradient(to bottom right, #055E8F, #056599, #0F7CB8);
 height: 100vh;
}
.center{
 width: 450px;
 margin: 10px auto;
 position: relative;
}
.center .header{
 font-size: 28px;
 font-weight: bold;
 font-family: 'Helvetica', 'Arial', sans-serif;
 color: black;
 padding: 25px 0 5px 25px;
 background: white;
 border-radius: 25px 25px 0 0;
}
h4 {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Helvetica', 'Arial', sans-serif;
  margin: 5px 3px 3px 3px;
}
.center form{
 position: absolute;
 background: white;
 width: 100%;
 padding: 10px 30px 5px 30px;
 box-sizing: border-box;
 border: 1px solid white;
 border-radius: 0 0 25px 25px;
}
form select, form input{
 height: 50px;
 width: 90%;
 margin-top: 20px;
 padding: 0px 20px;
 border-radius: 10px;
 border: 1px solid silver;
 font-size: 18px;
 font-family: 'Helvetica', 'Arial', sans-serif;
 outline: none;
}
form select{
  width: 101%;
  background: #0F7CB8;
  color: white;
}
form input[type="password"]{
 margin-top: 20px;
}
form i{
 position: absolute;
 font-size: 25px;
 color: grey;
 margin: 15px 0 0 -45px;
 display: block;
}
i.fa-lock{
 margin-top: 35px;
}
form input[type="submit"]{
 margin-top: 40px;
 margin-bottom: 40px;
 width: 130px;
 height: 45px;
 color: white;
 cursor: pointer;
 line-height: 45px;
 border-radius: 45px;
 border-radius: 10px;
 background: #0F7CB8;
}
form input[type="submit"]:hover{
 background: #055E8F;
 transition: .5s;
}


